.slider-container {
    display: flex;
    align-items: center;
}

.slider {
    width: 95%;
    -webkit-appearance: none;
    appearance: none;
    height: 1vh;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    transition: background 0.3s ease;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3vh;
    height: 3vh;
    border: 1px solid black;
    background-color: rgb(94, 255, 0);
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 3vh;
    height: 3vh;
    border: 1px solid black;
    background-color: rgb(94, 255, 0);
    border-radius: 50%;
    cursor: pointer;
}

.slider-value {
    font-family: "Spicy Rice", serif;
    font-size: x-large;
    margin-left: 0.5vw;
    margin-right: 0.3vw;
    height: 5vh;
    width: 3vw;
    background-color: rgb(67, 61, 73);
    color: rgb(94, 255, 0);
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
